{#############################################################################
#                    ANSIBLE GENERATED KICKSTART FILE 
# ----------------------------------------------------------------------------
# Author: Cesar Delgado
# Date:   05/08/2026
# Version: 1.0
#############################################################################} 
{%- if j2_input is defined -%}
{%-   if j2_input is not none -%}
{%-      if j2_input is not string -%}
{%-         if j2_input is mapping -%}
{%-            if j2_input is iterable -%}
{%-               if j2_input|length > 0 -%}
{###############################
         CAPTURE VALUES 
BEWARE: Capturing Dict Values with for loop
  - Append values in list
  - Extract values from list[0]
 ##############################}
{%-  set blank = " " -%}
{%-  set eol = "\n" -%}
{#......... 1.- Node Data Model ..... #}
{%-  set ks_model    = j2_profile | default('none') -%}
{%- set preins_candidatos = [
      j2_node_profiles[ks_model]['preinstall'] | default(none),
      j2_system_profiles[ks_model]['preinstall'] | default(none),
      j2_os_profiles[ks_model]['preinstall'] | default(none),
      j2_input['preinstall'] | default(none)
    ] 
-%}
{%- set system_candidatos = [
      j2_node_profiles[ks_model]['system'] | default(none),
      j2_system_profiles[ks_model]['system'] | default(none),
      j2_os_profiles[ks_model]['system'] | default(none),
      j2_input['system'] | default(none)
    ] 
-%}
{%- set repos_candidatos = [
      j2_node_profiles[ks_model]['repos'] | default(none),
      j2_system_profiles[ks_model]['repos'] | default(none),
      j2_os_profiles[ks_model]['repos'] | default(none),
      j2_input['repos'] | default(none)
    ]
-%}
{%- set auth_candidatos = [
      j2_node_profiles[ks_model]['auth'] | default(none),
      j2_system_profiles[ks_model]['auth'] | default(none),
      j2_os_profiles[ks_model]['auth'] | default(none),
      j2_input['auth'] | default(none)
    ] 
-%}
{%- set user_candidatos = [
      j2_node_profiles[ks_model]['user'] | default(none),
      j2_system_profiles[ks_model]['user'] | default(none),
      j2_os_profiles[ks_model]['user'] | default(none),
      j2_input['user'] | default(none)
    ] 
-%}
{%- set ssh_candidatos = [
      j2_node_profiles[ks_model]['ssh'] | default(none),
      j2_system_profiles[ks_model]['ssh'] | default(none),
      j2_os_profiles[ks_model]['ssh'] | default(none),
      j2_input['ssh'] | default(none)
    ] 
-%}
{%- set network_candidatos = [
      j2_node_profiles[ks_model]['network'] | default(none),
      j2_system_profiles[ks_model]['network'] | default(none),
      j2_os_profiles[ks_model]['network'] | default(none),
      j2_input['network'] | default(none)
    ] 
-%}
{%- set packages_candidatos = [
      j2_node_profiles[ks_model]['packages'] | default(none),
      j2_system_profiles[ks_model]['packages'] | default(none),
      j2_os_profiles[ks_model]['packages'] | default(none),
      j2_input['packages'] | default(none)
    ] 
-%}
{%- set storage_candidatos = [
      j2_node_profiles[ks_model]['storage'] | default(none),
      j2_system_profiles[ks_model]['storage'] | default(none),
      j2_os_profiles[ks_model]['storage'] | default(none),
      j2_input['storage'] | default(none)
    ] 
-%}
{%- set postins_candidatos = [
      j2_node_profiles[ks_model]['postinstall'] | default(none),
      j2_system_profiles[ks_model]['postinstall'] | default(none),
      j2_os_profiles[ks_model]['postinstall'] | default(none),
      j2_input['postinstall'] | default(none)
    ] 
-%}
{%- set logging_candidatos = [
      j2_node_profiles[ks_model]['logging'] | default(none),
      j2_system_profiles[ks_model]['logging'] | default(none),
      j2_os_profiles[ks_model]['logging'] | default(none),
      j2_input['logging'] | default(none)
    ] 
-%}
{%- set ks_preinstall = preins_candidatos   | select('string') | first | default('') -%}
{%- set ks_system     = system_candidatos   | select('string') | first | default('') -%}
{%- set ks_repos      = repos_candidatos    | select('string') | first | default('') -%}
{%- set ks_auth       = auth_candidatos     | select('string') | first | default('') -%}
{%- set ks_user       = user_candidatos     | select('string') | first | default('') -%}
{%- set ks_ssh        = ssh_candidatos      | select('string') | first | default('') -%}
{%- set ks_network    = network_candidatos  | select('string') | first | default('') -%}
{%- set ks_packages   = packages_candidatos | select('string') | first | default('') -%} 
{%- set ks_storage    = storage_candidatos  | select('string') | first | default('') -%}  
{%- set ks_postinstall= postins_candidatos  | select('string') | first | default('') -%}
{%- set ks_logging    = logging_candidatos  | select('string') | first | default('') -%}  
{#......... 2.- Kickstart Sections Definition ..... #}
{%-  set ks_sections = [  
        { "header": "# Installer",                        "content": ks_preinstall },
        { "header": "# Users",                            "content": ks_user     },
        { "header": "# Users",                            "content": ks_repos     },
        { "header": "# SYSTEM",                           "content": ks_system   },
		{ "header": "# System authorization information", "content": ks_auth     },	  
        { "header": "# SSH Keys",                         "content": ks_ssh      },	
        { "header": "# Installation logging level",       "content": ks_logging  },
        { "header": "# Network information",              "content": ks_network  },
        { "header": "# Partitions",                       "content": ks_storage  },				  
        { "header": "%packages", "end": "%end\n",         "content": ks_packages },
        { "header": "%post --log=/root/ks-post-ipmi.log", "end":"%end\n", "content": ks_postinstall }
      ]			  
-%}
{###############################
         RENDERING FILE
 ##############################}
#kickstart file for RHEL server
#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
{%-        for section in ks_sections -%}
{%-           if section.content is defined -%}
{%-             if section.content is not none -%}
{%-                if section.content is string -%}
{%-                  if section.content|length > 0 -%}
{{ section.header  | default('') }}
{{ section.content | default('') }}
{{ section.end     | default(eol) }}
{%-                  endif -%}
{%-                endif -%}
{%-              endif -%}
{%-           endif -%}
{%-        endfor -%}

{###############################
              END
 ##############################}
{%-             endif -%}
{%-           endif -%}
{%-         endif -%}
{%-       endif -%}
{%-    endif -%}
{%- endif -%}
{#############################################################################
#                    ANSIBLE GENERATED KICKSTART FILE 
#############################################################################} 