{#############################################################################
#                    ANSIBLE GENERATED CASPER META FILE 
# ----------------------------------------------------------------------------
# Author: Cesar Delgado
# Date:   05/08/2026
# Version: 1.0
#############################################################################} 
{%- if j2_hostname is defined -%}
{%-   if j2_hostname is not none -%}
{###############################
         RENDERING FILE
 ##############################}
# Cloud-init meta-data generated dynamically by Genesis Core Engine
instance-id: "genesis-{{ j2_hostname }}"
local-hostname: "{{ j2_hostname }}"
{###############################
              END
 ##############################}
{%-    endif -%}
{%- endif -%}
{#############################################################################
#                    ANSIBLE GENERATED CASPER META FILE 
#############################################################################}