{#
#############################################################################
#                    ANSIBLE GENERATED CASPER USER-DATA FILE
# ----------------------------------------------------------------------------
# Author: Cesar Delgado
# Date:   05/08/2026
# Version: 1.0
#############################################################################
#}
{%- if j2_input is defined -%}
{%-   if j2_input is not none -%}
{%-      if j2_input is not string -%}
{%-         if j2_input is mapping -%}
{%-            if j2_input is iterable -%}
{%-               if j2_input|length > 0 -%}
{# 
###############################
         CAPTURE VALUES
###############################
#}
{%-  set blank = " " -%}
{%-  set eol = "\n" -%}
{#......... 1.- Node Data Model ..... #}
{%-  set casper_model    = j2_profile | default('none') -%}
{%- set preins_candidatos = [
      j2_node_profiles[casper_model]['preinstall']   | default(none),
      j2_system_profiles[casper_model]['preinstall'] | default(none),
      j2_os_profiles[casper_model]['preinstall']     | default(none),
      j2_input['preinstall'] | default(none)
    ]
-%}
{%- set system_candidatos = [
      j2_node_profiles[casper_model]['system']   | default(none),
      j2_system_profiles[casper_model]['system'] | default(none),
      j2_os_profiles[casper_model]['system']     | default(none),
      j2_input['system'] | default(none)
    ]
-%}
{%- set identity_candidatos = [
      j2_node_profiles[casper_model]['identity']   | default(none),
      j2_system_profiles[casper_model]['identity'] | default(none),
      j2_os_profiles[casper_model]['identity']     | default(none),
      j2_input['identity'] | default(none)
    ]
-%}
{%- set repos_candidatos = [
      j2_node_profiles[casper_model]['repos']   | default(none),
      j2_system_profiles[casper_model]['repos'] | default(none),
      j2_os_profiles[casper_model]['repos']     | default(none),
      j2_input['repos'] | default(none)
    ]
-%}
{%- set auth_candidatos = [
      j2_node_profiles[casper_model]['auth']   | default(none),
      j2_system_profiles[casper_model]['auth'] | default(none),
      j2_os_profiles[casper_model]['auth']     | default(none),
      j2_input['auth'] | default(none)
    ]
-%}
{%- set user_candidatos = [
      j2_node_profiles[casper_model]['user']   | default(none),
      j2_system_profiles[casper_model]['user'] | default(none),
      j2_os_profiles[casper_model]['user']     | default(none),
      j2_input['user'] | default(none)
    ]
-%}
{%- set ssh_candidatos = [
      j2_node_profiles[casper_model]['ssh']   | default(none),
      j2_system_profiles[casper_model]['ssh'] | default(none),
      j2_os_profiles[casper_model]['ssh']     | default(none),
      j2_input['ssh'] | default(none)
    ]
-%}
{%- set network_candidatos = [
      j2_node_profiles[casper_model]['network']   | default(none),
      j2_system_profiles[casper_model]['network'] | default(none),
      j2_os_profiles[casper_model]['network']     | default(none),
      j2_input['network'] | default(none)
    ]
-%}
{%- set packages_candidatos = [
      j2_node_profiles[casper_model]['packages']   | default(none),
      j2_system_profiles[casper_model]['packages'] | default(none),
      j2_os_profiles[casper_model]['packages']     | default(none),
      j2_input['packages'] | default(none)
    ]
-%}
{%- set storage_candidatos = [
      j2_node_profiles[casper_model]['storage']   | default(none),
      j2_system_profiles[casper_model]['storage'] | default(none),
      j2_os_profiles[casper_model]['storage']     | default(none),
      j2_input['storage'] | default(none)
    ]
-%}
{%- set postins_candidatos = [
      j2_node_profiles[casper_model]['postinstall']   | default(none),
      j2_system_profiles[casper_model]['postinstall'] | default(none),
      j2_os_profiles[casper_model]['postinstall']     | default(none),
      j2_input['postinstall'] | default(none)
    ]
-%}
{%- set logging_candidatos = [
      j2_node_profiles[casper_model]['logging']   | default(none),
      j2_system_profiles[casper_model]['logging'] | default(none),
      j2_os_profiles[casper_model]['logging']     | default(none),
      j2_input['logging'] | default(none)
    ]
-%}
{# ========= 1.- EXTRACT WINNING CANDIDATES AS RAW STRINGS ========= #}
{%- set casper_preinstall  = preins_candidatos   | reject('none') | first | default('') -%}
{%- set casper_identity    = identity_candidatos | reject('none') | first | default('') -%}
{%- set casper_system      = system_candidatos   | reject('none') | first | default('') -%}
{%- set casper_repos       = repos_candidatos    | reject('none') | first | default('') -%}
{%- set casper_user        = user_candidatos     | reject('none') | first | default('') -%}
{%- set casper_ssh         = ssh_candidatos      | reject('none') | first | default('') -%}
{%- set casper_network     = network_candidatos  | reject('none') | first | default('') -%}
{%- set casper_packages    = packages_candidatos | reject('none') | first | default('') -%}
{%- set casper_storage     = storage_candidatos  | reject('none') | first | default('') -%}
{%- set casper_postinstall = postins_candidatos  | reject('none') | first | default('') -%}
{%- set casper_logging     = logging_candidatos  | reject('none') | first | default('') -%}
{# ========= 2.- CASPER SECTIONS DEFINITION WITH INTEGRATED SANITIZATION ========= #}
{%- set casper_sections = [
        { "header": " ",  "content": (casper_system   | default({})) | to_yaml | from_yaml , "indent": "2"},
        { "header": "apt:",           "content": (casper_repos    | default({})) | to_yaml | from_yaml },
        { "header": "identity:",      "content": (casper_identity | default({})) | to_yaml | from_yaml },
        { "header": "ssh:",           "content": (casper_ssh      | default({})) | to_yaml | from_yaml },
        { "header": "user-data:",     "content": (casper_user     | default({})) | to_yaml | from_yaml },
        { "header": "network:",       "content": (casper_network  | default({})) | to_yaml | from_yaml },
        { "header": "storage:",       "content": (casper_storage  | default({})) | to_yaml | from_yaml },
        { "header": "packages:",      "content": (casper_packages | default([])) | to_yaml | from_yaml },
        { "header": "late-commands:", "content": casper_postinstall | default('') }
      ]
-%}
{#
###############################
        RENDERING FILE
###############################
#}
#cloud-config
autoinstall:
{%- for section in casper_sections -%}
{%-   if section.content is defined and section.content | string | length > 0 -%}
{%-      if section.header | length > 0 %}
{{ blank }}{{ blank }}{{ section.header }}{{ eol }}
{%-      endif %}
{%-      set id = section.indent | default('4') | int -%}
{{ section.content | indent(id, first=true) }}
{%-   endif -%}
{%- endfor -%}
{#
###############################
              END
###############################
#}
{%-             endif -%}
{%-           endif -%}
{%-         endif -%}
{%-       endif -%}
{%-    endif -%}
{%- endif -%}