#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  identity:
    hostname: servera199
    username: cesar
    password: "$6$rounds=4096$genesis$p4S6Y6V5t1RUXD8rXmFk5M7R.WkHlP9yNqCgUxz0v5s/eF3K8E2jX7q1f9z5t6v8u1x9c3b4n5m6l7k8j9"
  ssh:
    install-server: true
    authorized-keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMLeUbawucLN+B+Ilbsw/np4b2a/upqAF66MaPWgA05p Cesar@Tuxedo"
  network:
    network:
      version: 2
      ethernets:
        eno1:
          critical: true
          addresses:
            - 10.10.51.150/24
          match:
            macaddress: "bc:24:11:7a:bd:68"
          set-name: eno1
          routes:
            - to: default
              via: 10.10.51.5
          nameservers:
            addresses:
              - 10.10.51.5"
  source:
    id: ubuntu-server
    search_drivers: false
    mirror: "http://10.10.51"
  storage:
    layout:
      name: lvm