{#############################################################################
#                    ANSIBLE GENERATED NETPLAN FILE 
# ----------------------------------------------------------------------------
# Author: Cesar Delgado
# Date:   05/08/2026
# Version: 1.0
#############################################################################}
{%- if j2_input is defined -%}
{%-   if j2_input is not none -%}
{%-      if j2_input is not string -%}
{%-         if j2_input is mapping -%}
{%-            if j2_input is iterable -%}
{%-               if j2_input|length > 0 -%}
{%- macro get_match(mac) -%}
  {{ {'macaddress': mac | lower} }}
{%- endmacro -%}
{%- macro get_routes(gateway, is_default) -%}
  {%- if is_default | default(false) | bool -%}
    {{ [{'to': 'default', 'via': gateway}] }}
  {%- else -%}
    {{ [{'to': gateway ~ '/32', 'via': gateway, 'scope': 'link'}] }}
  {%- endif -%}
{%- endmacro -%}
{%- macro get_dns(dns_server) -%}
  {{ {'addresses': [dns_server]} }}
{%- endmacro -%}
{%- set net_config = {} -%}
{%- for nic_name, data in j2_input.items() -%}
  {%- set match_obj = get_match(data.mac) | from_yaml -%}
  {%- set nic_data = {
    'match': match_obj,
    'addresses': [data.ip]
  } -%}
  {%- if data.gateway is defined and data.gateway is truthy -%}
    {%- set routes_obj = get_routes(data.gateway, data.default_route) | from_yaml -%}
    {%- set _ = nic_data.update({'routes': routes_obj}) -%}
  {%- endif -%}
  {%- if data.dns is defined and data.dns is truthy -%}
    {%- set dns_obj = get_dns(data.dns) | from_yaml -%}
    {%- set _ = nic_data.update({'nameservers': dns_obj}) -%}
  {%- endif -%}
  {%- set _ = net_config.update({nic_name: nic_data}) -%}
{%- endfor -%}
{%- set final_json = {
  'network': {
    'version': 2,
    'renderer': 'networkd',
    'ethernets': net_config
  }
} -%}
{{ final_json | to_nice_yaml(indent=2) }}
{%-             endif -%}
{%-           endif -%}
{%-         endif -%}
{%-       endif -%}
{%-    endif -%}
{%- endif -%}
{#############################################################################
#                    ANSIBLE GENERATED NETPLAN FILE 
#############################################################################}
